!!!5
%head
	:css
		body, html
		{
			background-color: #eee;
			padding: 0; margin: 0;
			width: 100%;
		}
		h1
		{
			background-color: #ddd;
			color: #008;
			text-align: center;
			border-bottom: 1px solid #000;
			margin: 0;
			padding: 0.5em;
			width: auto;
		}
		p
		{
			color:#004;
			font-size: 1.2em;
			padding: 0 1em;			
		}
		#wrapper
		{
			background-color: #fff;
			margin: 1em 5%;
			padding: 0 0 2% 0;
			border-radius: 20px;
			min-height: 50%;
			color: #007;
		}
		#wrapper h2
		{
			background-color: #ddd;
			color: #008;
			text-align: center;
			margin: 0 0 1em 0;
			padding: 0.5em 0;
			width: 100%;
			border-radius: 20px;
		}
		#wrapper p{ padding: 0 2%;}
		#wrapper #missing
		{
			color:#904;
			font-size: 1.4em;
			padding: 0.5em 0;
			text-align: center;         
			background-color: #fee;
			border-bottom: 1px solid #800;
			margin: 0;
		}
%body
	%h1< Anorexic 404 error code (missing, not broken)...
	#wrapper
		%h2#missing
			couldn't find
			= defined?(request) ? request.path : "what you're looking for..."
		%p Sorry, we couldn't find what you're looking for...
		%p ... but we can always bring you something nice from another location, right?
