# Edit these parameters if you wish to leverage multi-process concurrency. i.e.:
#    bundle exec iodine -p $PORT -t 16 -w 4 -www ./public -warmup # => 4 processes + fix lazy loading
web: bundle exec iodine -p $PORT -t 16 -w 1 -www ./public
